/* Diagram of all 19 tetraminos */
figure img {
    max-width: 650px;
    width: 60vw;
    display: block;
    margin: 0 auto;
}
/* Unboxed content */
header, main p, main h2, main h3, footer {
    width: 90vw;
    text-align: left;
    margin: 15px auto;
}
/* Diagram caption */
figcaption {
    max-width: 650px;
    width: 60vw;
    margin: 0 auto;
}
#tetlist {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 25px 25px;
}
/* Full tetromino boxes */
#tetlist .tet {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    align-content: center;

    flex: 0 1 250px;
    height: 350px;
    /* margin: 25px auto; */
}
/* Tetromino images */
#tetlist .tet img {
    width: 60%;
    margin: auto auto;
}
#tetlist .aliases {
    text-align: left;
    margin: 8% auto;
    margin-left: 15px;
    width: 90%;
}
footer {
    clear: both;
    padding-top: 13px;
    padding-bottom: 13px;
}
/* Tetromino names */
#tetlist span {
    width: 90%;
    margin: 8% auto;
    text-align: center;
}
#tetlist span {
    font-weight: bold;
}
