@font-face {
    font-family: "SmoothMarker";
    src: url("../fonts/SmoothMarker-45d6.woff") format("woff");
}
header, body, footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-image: url("../media/galaxy.jpg");
    background-size: 119vw;
    background-repeat: repeat-y;
}
#nameMini {
    font-size: 1.8vw;
    color: #d5c8e3;
    float:none;
}
h1 {
    font-weight: bolder;
    border: .6vw solid #2b005c;
    font-size: 4vw;
    border-radius: 4vw;
    background-color: rgba(119, 0, 255, .5);
    color: rgba(245, 245, 245, .85);
    width: 30vw;
    margin: 0 auto;
    margin-top: 27vw;
    padding: 1.3vw;
    text-align: center;
    filter: drop-shadow(1vw 1vw .5vw #280055);
}
h2 {
    font-size: 2.5vw;
    width: 100%;
    margin: 1vw auto;
}
#photo1, #photo2 {
    display: block;
    position: absolute;
    top: 1vw;
    left: 40vw;
    width: 20vw;
    z-index: -1;
}
#photo1 {
    filter: drop-shadow(2vw 2vw 1vw #31253e);
}
#photo2 {
    filter: drop-shadow(0 0 1vw white);
}
#whiteboard {
    position: absolute;
    width: 75vw;
    top: 48vw;
    left: 12vw;
    z-index: -3;
    filter: hue-rotate(315deg);
}
#bio {
    display: block;
    z-index: 10;
    width: 75vw;
    margin-top: 8vw;
    margin-left: 18.5vw;
    font-family: SmoothMarker;
    font-size: 2.75vw;
    color: rgb(247, 0, 255);
}
footer {
    display: block;
    font-size: 1vw;
    border-top: .6vw solid rgb(40, 0, 86);
    background-color: rgba(119, 0, 255, 0.5);
    width: 101%;
    padding-top: 3vw;
    padding-bottom: 4vw;
    color: rgb(255, 255, 255);
    text-align: center;

    position: absolute;
    bottom: -9vw;
    left: -1vw;
    top: 97vw;

    /*
    margin-left: -1vw;
    margin-top: 10vw;
    margin-bottom: -2vw;
    */
}
#links1, #links2 {
    color: rgba(255, 255, 255, 0.779);
    position: absolute;
    background-color:rgba(37, 131, 255, 0.5);
    text-align: center;
    width: 25vw;
    border: .6vw solid rgb(19, 67, 131);
    border-radius: 2vw;
}
#links2 h2{
    position: sticky;
    margin-top: 0;
    padding-top: 1vw;
    height: 4vw;
    top: 0;
    background-color: rgba(19, 68, 131, 0.5);
}
#links1 h2{
    position: sticky;
    margin-top: -1.7vw;
    top: 0;
    background-color: rgba(19, 68, 131, 0.5);
    height: 4vw;
    padding-top: 1vw;
}
#links1 ul{
    margin-top: 1.5vw;
}
#links2 ul{
    margin-top: 1vw;
}
#links1, #links2 {
  top: 4.5vw;
  height: 39.5vw;
  overflow: scroll;
}
#links2{
  right: 3vw;
}
.links {
    font-size: 2vw;
}
.links li {
    margin: 1vw auto;
}
.links a:link, .links a:visited, .links a:hover, .links a:focus, .links a:active {
    text-decoration: none;
    color: rgb(250, 108, 255);
    background-color: rgba(19, 68, 131, 0.5);
    padding: .1vw 0.75vw;
    border-radius: 2vw;
}
::-webkit-scrollbar{
    width: 1vw;
}
#links2::-webkit-scrollbar, #links1::-webkit-scrollbar{
    width: 1.5vw;
}
::-webkit-scrollbar-corner{
    background: transparent;
}
::-webkit-scrollbar-track{
    width: 1vw;
    background-color: rgb(40, 0, 86);
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
    background-image: url(../media/scrollbar.png);
    background-size: 1vw 100%;
    border-radius: 10%;
}
#links2::-webkit-scrollbar-thumb,#links1::-webkit-scrollbar-thumb{
    background-color: transparent;
    background-image: url(../media/scrollbar2.png);
    background-size: 1.5vw 100%;
    border-radius: 10%;
}
#links2::-webkit-scrollbar-track,#links1::-webkit-scrollbar-track{
    width: 1.5vw;
    background-color: transparent;
}