@font-face{
    font-family: "Caslon 540 Italic";
    src: url("../src/Caslon540italic.woff") format("woff")
}
@font-face{
    font-family: "Y Ming Hei PRC W7";
    src: url("../src/M\ Ying\ Hei\ PRC\ W48\ W7.woff") format("woff")
}
* {
    box-sizing: border-box;
}
html {
    /* background-image: url("../src/layout.png");
    background-size: 99%;
    background-position: .7vw .2vw;
    background-image: url("../src/spec-grid.png");
    background-size: 98.9% 99.1%; 
    background-position: .6vw .6vw; */
    background-repeat: no-repeat;
    background-color: rgb(84, 0, 0);
    color: rgb(84, 0, 0);
    scroll-behavior: smooth;
    max-width: 2560px;
}
#sideBarWrapper {
    display: none;
}
#sideBarTitle, #tonal, #sidebarLinks {
    display: none;
}
#wrapper {
    z-index: 1;
    display: grid;
    border: .5vw dashed rgb(84, 0, 0);
    background-color: rgb(219, 112, 104);
    grid-template-areas: "sidebar pics pics pics pics pics"
                         "sidebar pics pics pics pics pics"
                         "sidebar pics pics pics pics pics"
                         "sidebar text1 text1 text2 text2 text2";
    /* grid-template-columns: 1fr 2.371fr 2.4516fr 2.339fr 1.935fr 2.355fr; */
    grid-template-columns: 8.031096% 19.04173% 19.689036% 18.784734% 15.540172% 18.913232%;
    grid-template-rows: 27.711166vw 28.099123vw 30.203284vw auto;
    /* grid-template-rows: 1fr 1.014fr 1.091fr auto; */
    /* grid-template-rows: 22.10922% 22.418749% 24.121159% 31.350873%; */
    width: 97%;
    margin: 0 auto -2% auto;
}
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 97%;
    margin-left: 1.5%;
    margin-top: 2%;
    border: .5vw dashed rgb(219, 112, 78);
    justify-content: center;
}
footer h2 a {
    color: rgb(219, 112, 78);
    text-decoration: none;
    font-size: 3vw;
    padding-left: 2%;
}
footer h2 {
    margin: 3% 0 3% -2%;
    text-align: center;
    background: none;
}
footer h2 a:hover, footer h2 a:active, footer h2 a:focus {
    color: rgb(219, 112, 104);
    text-decoration: underline dashed;
}
footer h2:has(> a:hover), footer h2:has(> a:active), footer h2:has(> a:focus) {
    background: url("/media/index/altBullet3.png") no-repeat;
    background-size: calc(.9rem * 0.64) calc(.8rem * 0.64);
    background-position: 16% 50%;
}
#cr, #inst {
    font-family: "Y Ming Hei PRC W7";
    font-size: 3vw;
    text-align: center;
    margin: 2% 0;
    color: rgb(219, 112, 104);
}
#inst {
    margin-bottom: -.5em;
}
#sidebar, #titleSec, .articleBox {
    justify-content: center;
    align-items: center;
}
#sidebar {
    grid-area: sidebar;
}
#titleSec {
    grid-area: pics;
}
#text1Box {
    grid-area: text1;
    padding-bottom: 1.5vw;
}
#text2Box {
    grid-area: text2;
    padding: 0 2vw 1.5vw 5.3vw;
    z-index: 1;
}
#bigTextBox {
    display: none;
}
#box1, #box2 {
    color: rgb(219, 112, 104);
    text-align: left;
    font-family: "Y Ming Hei PRC W7";
    font-size: 1.18vw;
    padding: 1.3em;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-indent: -9999px;
    background-color: rgb(84, 0, 0);
    background-size: 100.1% 100%;
}
#box1 {
    z-index: 1;
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 73%;
    background-image: url(../media/index/Box1.png);
}
#box2 {
    z-index: 2;
    grid-row: 2/3;
    grid-column: 6/7;
    margin: 7% 5% 41.1% 23.4%;
    background-image: url(../media/index/Box2.png);
}
#wrapper div {
    position: relative;
}
#p1 {
    max-width: 100%;
    height: 101%;
    grid-row: 2/3;
    grid-column: 2/4;
    z-index: 1;
    width: 100%;
}
#p2 {
    z-index: 1;
    grid-row: 1/span 1;
    grid-column: 3;
    margin-top: 27.9%;
    height: 82%;
}
#p3 {
    z-index: 2;
    grid-row: 1/3;
    grid-column: 5;
    height: 51%;
    margin-left: -143%;
    margin-top: 57%;
    overflow: hidden;
    clear: both;
}
#p4 {
    z-index: 1;
    grid-row: 1/3;
    grid-column: 5/7;
    margin-top: 11.2%;
    height: 45.5%;
}
#p5 {
    z-index: 1;
    grid-row: 2/4;
    grid-column: 4/5;
    width: 93.1%;
    height: 40.8%;
    margin-top: 51.8%;
    margin-left: -1%;
}
#p6 {
    z-index: 3;
    grid-row: 2/3;
    grid-column: 6;
    height: 75%;
    margin-left: -94%;
    margin-top: 4%;
}
#p7 {
    z-index: 1;
    grid-row: 3;
    grid-column: 5;
    width: 225.4%;
    margin-left: -9.6%;
    margin-top: -50.5%;
}
#p8 {
    z-index: 2;
    grid-row: 3;
    grid-column: 5;
    width: 130%;
    margin-top: 51%;
    margin-left: -113%;
}
#p9 {
    z-index: 2;
    grid-row: 3/4;
    grid-column: 4/5;
    width: 83.5%;
    margin-left: -84.25%;
    margin-top: 1.6%;
}    
#wrapper img:active {
    border: .5vw rgb(84, 0, 0) dashed;
    transition: all 0.25s ease-in-out;
    z-index: 1000;
    opacity: 100%;
}
#box1:active {
    transform-origin: 45% 99%;
}
#box2:active {
    transform-origin: 99.5% 4%;
}
#box1:active, #box2:active {
    opacity: 100%;
    z-index: 1000;
    transform: scale(200%);
    transition: all 0.25s ease-in-out;
}
#box1:hover, #box2:hover {
    opacity: 85%;
}
#p1:active {
    transform-origin: -10% 55%;
    height: fit-content;
    transform: scale(200%);
}
#p2:active {
    transform-origin: -20% 50%;
    width: fit-content;
    transform: scale(200%);
}
#p3:active {
    transform-origin: 60% 50%;
    width: fit-content;
    transform: scale(200%);
}
#p4:active {
    transform-origin: 140% 40%;
    width: fit-content;
    transform: scale(200%);
}
#p5:active {
    transform-origin: 60% 50%;
    height: fit-content;
    transform: scale(300%);
}
#p6:active {
    margin: 0;
    transform-origin: 215% 90%;
    width: fit-content;
    transform: scale(200%);
}
#p7:active {
    transform-origin: 200% 75%;
    height: fit-content;
    transform: scale(150%);
}
#p8:active {
    position: relative;
    transform-origin: 80% 90%;
    transform: scale(200%);
}
#p9:active {
    position: relative;
    transform-origin: 0% 50%;
    transform: scale(200%);
}
#wrapper img:hover {
    border: .5vw rgb(84, 0, 0) dashed;
    transition: all 0.25s ease-in-out;
    z-index: 1000;
    opacity: 100%;
}
#box1:hover, #box2:hover {
    opacity: 85%;
}
#galleryInst {
    display: none;
}
#title {
    margin-left: -1px;
    transform-origin: 0 50%;
    transform: scaleX(85%);
    margin: 58vw 0 .3vh -4vw;
    text-decoration: underline overline dashed rgb(84, 0, 0);
    text-underline-offset: calc(2vw * 1);
    line-height: calc(9.1vw * 1);
}
h1 {
    z-index: 2;
    font-family: "Caslon 540 Italic";
    font-size: 6.75vw;
    text-transform: uppercase;
}
.paragraph {
    padding: .5vw 0 1vw 0;
    margin-right: 1.5vw;
    padding-left: 5vw;
    margin-left: -5vw;
}
.paragraph:hover {
    transition: color 0.25s ease-in-out;
    color: rgb(50, 12, 0);
    background-color: rgb(219, 112, 78);
}
.paragraph:hover p {
    font-weight: bolder;
    line-height: 4.3vw;
    font-size: 2.5vw;
}
.paragraph:hover h2 {
    transition: color 0.25s ease-in-out;
    background: url("/media/index/altBullet.png") no-repeat;
    background-size: .8rem .7rem;
    background-position: 0 50%;
    color: white;
}
h2 {
    z-index: 3;
    font-family: "Y Ming Hei PRC W7";
    font-size: 1.59vw;
    background: url(../media/index/bullet.png) no-repeat;
    background-position: 0 50%;
    text-transform:uppercase;
    transform-origin: 0 50%;
    transform: scaleX(87%);
    width: 40vw;
    background-size: .9rem .8rem;
    padding-left: 1.5rem;
    margin-bottom: .2rem;
    margin-left: -3.1vw;
}
p {
    z-index: -1;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 1.962vw;
    margin-left: -.2vh;
}
.articleBox p {
    margin-top: 0;
    transform-origin: 0 50%;
    transform: scaleX(92.5%);
    line-height: 1.26em;
    margin: 0 0 .2vw -3.25vw;
    clear: left;
}
#downArrow {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 150%;
    margin: 25% 10% 0 0;
}
#downArrow:hover {
    margin-left: 10px;
    content: url("media/index/arrow_hover.png");
}
#upArrow:hover {
    margin-left: 10px;
    content: url("media/index/arrow1_hover.png");
}
#upArrow {
    grid-row: 4/5;
    grid-column: 6/7;
    width: 150%;
    float: right;
    margin-right: -1105%;
    margin-bottom: 20%;
    z-index: 100;
}

@media only screen and (max-width: 708px) {
    .articleBox p {
        line-height: 1.9em;
    }
    h2 {
        margin: .1rem 0;
        margin-left: -3.1vw;
        font-size: 3vw;
    }
    .articleBox p {
        font-size: 2.5vw;
    }
}
@media only screen and (max-width: 500px) {
    .articleBox p {
        line-height: 2.75em;
    }
    h2 {
        margin: .2rem 0;
        margin-left: -3.1vw;
    }
    #wrapper {
        background-color: rgb(219, 112, 104);
    }
}
@media only screen and (max-width: 997px) {
    #downArrow {
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
        margin: 25% 10% 0 0;
    }
    #upArrow {
        grid-row: 4/5;
        grid-column: 6/7;
        width: 100%;
        float: right;
        margin-right: -1105%;
        margin-bottom: 20%;
        z-index: 100;
    }
}

/*The master media query... what happens when the page goes into "big mode"*/
@media only screen and (min-width: 996px) {
    body, html {
        overflow: visible;
        display:inline;
        max-width: 2560px;
    }
    footer {
        display: none;
    }
    #sideBarTitle {
        display: block;
        float: left;
        position: sticky;
        top: 12vh;
        left: 3.5vh;
        color: rgb(219, 112, 78);
        font-size: 7.2vh;
        line-height: 9.1vh;
        text-decoration:overline underline;
        text-underline-offset: 1.4996856vh;
        width: 20vw;
        margin-right: 50vw;
        height: 10vh;
    }
    #tonal {
        display: block;
        float: left;
        clear:left;
        position: sticky;
        top: 29.9vh;
        left: 3.5vh;
        height: 53.959276vh;
        width: 30.3167421vh;
        border: .5vw rgb(219, 112, 78) solid;
    }
    #sidebarLinks {
        display: block;
        float: left;
        position: sticky;
        top: 30.6vh;
        left: 33.8vh;
        width: 21vh;
        height: 53.4vh;
        justify-content: center;
        align-items: center;
        padding-top: 2vh;
        padding-right: 0;
        padding-left: 3vh;
    }
    #sidebarLinks h2 {
        text-transform: none;
        background: url("/media/index/altBullet2.png") no-repeat;
        background-size: calc(.9rem * 0.64) calc(.8rem * 0.64);
        display: inline;
        margin: 0;
        padding-right: 0;
        float: left;
        clear: left;
        background-position: 0 50%;
        text-align: left;
        font-size: 3.2vh;
    }
    #sidebarLinks h2 a {
        color: rgb(219, 112, 78);
        text-decoration: none;
    }
    #sidebarLinks h2 a:hover, #sidebarLinks h2 a:active, #sidebarLinks h2 a:focus {
        color: rgb(219, 112, 104);
        text-decoration: underline dashed;
    }
    #sidebarLinks h2:has(> a:hover), #sidebarLinks h2:has(> a:active), #sidebarLinks h2:has(> a:focus) {
        background: url("/media/index/altBullet3.png") no-repeat;
        background-size: calc(.9rem * 0.64) calc(.8rem * 0.64);
        background-position: 0 50%;
    }
    #sideBarTitle, #tonal {
        margin-left: 1.3vh;
    }
    #cr, #inst {
        display: none;
    }
    #wrapper {
        max-width: calc(99.5vw - 59vh);
        float: right;
        margin-right: .75vw;
        margin-bottom: 2vh;
        margin-top: -17vh;
        padding-left: .5vw;
        grid-template-areas: "sidebar textBox textBox textBox textBox textBox"
        "sidebar pics pics pics pics pics"
        "sidebar pics pics pics pics pics"
        "sidebar pics pics pics pics pics";
        /* background: url("/media/index/templet.png") no-repeat;
        background-position-y: 100%;
        background-size: 100%; */
        /* grid-template-columns: 0% 20.7045307% 21.4083621% 20.4250928% 16.8972026% 20.5648118%; */
        /* grid-template-rows: auto calc(calc(27.711166vw * 0.64)* 1.08732404) calc(calc(28.099123vw * 0.64)* 1.08732404) calc(calc(30.203284vw * 0.64)* 1.08732404); */
        grid-template-columns: 0% calc((100vw - 61.3076832vh) * .207045307) calc((100vw - 61.3076832vh) * .214083621) calc((100vw - 61.3076832vh) * .204250928) calc((100vw - 61.3076832vh) * .168972026) calc((100vw - 61.3076832vh) * .205648118);
        grid-template-rows: auto calc((100vw - 61.3076832vh) * 0.26918075) calc((100vw - 61.3076832vh) * 0.27438231) calc((100vw - 61.3076832vh) * 0.30388817);
    }
    #text1Box {
        display: none;
    }
    #text2Box {
        display: none;
    }
    #bigTextBox {
        display: block;
        grid-area: textBox;
        margin-bottom: 10vw;
        margin-top: 3vw;
    }
    .paragraph {
        padding: .5vw 0 1vw 0;
        margin-right: 1.5vw;
        padding-left: 0vw;
        margin-left: .5vw;
        margin-bottom: 0;
    }
    .paragraph:hover {
        color: rgb(50, 12, 0);
        background-color: rgb(219, 112, 78);
    }
    .paragraph:hover p {
        font-size: calc(40.13 * .0301vw);
        font-weight: bolder;
        line-height: 130%;
    }
    .paragraph:hover h2 {
        transition: all 0.25s ease-in-out;
        background: url("/media/index/altBullet.png") no-repeat;
        background-size: .6rem .5rem;
        background-position: 0 50%;
        color: white;
    }
    h2, p {
        margin: 0 5vw;
    }
    #box1 {
        grid-row: 2/3;
        margin-top: -2%;
        margin-bottom: 49%;
    }
    #box2 {
        grid-row: 3/4;
        margin: -41% 6% 63% 24%;
    }
    #box1, #box2 {
        font-size: calc(1.18vw * 0.64);
        padding: calc(1.3em * 0.64);
        background-size: 100.1% 100%;
    }
    #wrapper div {
        position: relative;
    }
    #p1 {
        grid-row: 3/4;
        max-width: 100%;
        height: 101%;
        width: 99.4%;
        margin-top: -24.3%;
    }
    #p2 {
        grid-row: 2/span 1;
        margin-top: -47.85%;
        height: 100.2%;
    }
    #p3 {
        grid-row: 2/4;
        margin-left: -143%;
        height: 62.2%;
        margin-top: -37.8%;
    }
    #p4 {
        grid-row: 2/4;
        margin-top: -29.9%;
        height: 54.6%;
    }
    #p5 {
        grid-row: 3/5;
        width: 93%;
        height: 48.3%;
        margin-top: 2.4%;
        margin-left: -1.6%;
    }
    #p6 {
        grid-row: 3/4;
        height: 89.6%;
        margin-left: -94%;
        margin-top: -44.4%;
    }
    #p7 {
        grid-row: 4;
        margin-top: -77%;
        margin-left: -11%;
    }
    #p8 {
        grid-row: 5;
        margin-top: -142.7%;
    }
    #p9 {
        display: none;
    }
    #box1:active {
        transform-origin: 100% 100%;
    }
    #box2:active {
        transform-origin: 89% 4%;
    }
    #box1:active, #box2:active {
        opacity: 100%;
        z-index: 1000;
        transform: scale(200%);
        transition: all 0.25s ease-in-out;
    }
    p {
        margin-bottom: 2vw;
        font-size: calc(40.13 * .0326vw);
    }
    #galleryInst {
        z-index: 0;
        display: block;
        grid-row: 4/5;
        grid-column: 2/4;
        margin-top: -13.47%;
        margin-left: -1.6%;
        width: 101%;
        height: 120%;
        text-align: center;
        padding: 5%;
        padding-top: 19%;
        font-size: calc(9vh - 1.3vw);
        font-family: "Caslon 540 Italic";
        font-weight: bolder;
        transform:scaleY(120%);
        text-decoration:underline dashed;
        text-underline-offset: .3em;
        line-height: 1.3em;
        text-indent: -9999px;
        background: url("/media/index/galleryInst.png") no-repeat;
        background-size: 100% 90%;
    }
    h1 {
        z-index: 2;
        font-family: "Caslon 540 Italic";
        font-size: calc(6.75vw * 0.64);
        line-height: calc(6vw * 0.64);
    }
    h2 {
        font-size: calc(2.5vw * 0.64);
        background-size: calc(.9rem * 0.64) calc(.8rem * 0.64);
        padding-left: calc(1.5rem * 0.64);
        margin-bottom: calc(.1rem * 0.64);
        margin-left: calc(6.2vw * 0.64);
        margin-top: calc(1rem * 0.64);
    }
    #title h1{
        display: none;
    }
}